body{
    background-image: url(fi/custom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: size 800px;
}
.headline{
    word-spacing: 5px;
    color: white;
}
.main{
    text-align: center;
    border:solid yellow 5px;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding-bottom: 15px;
}
.para{
    color: yellow;
    line-height: 25px;
}
.href{
    color: rgb(5, 5, 5);
    border: solid 5px rgb(250, 252, 252);
    border-radius: 45px;
    padding: 5px;
    background-color: white;
    text-decoration: none;
}
.href1{
    color: rgb(5, 5, 5);
    border: solid 5px rgb(250, 252, 252);
    border-radius: 45px;
    padding: 5px;
    background-color: white;
    text-decoration: none;
    margin-left: 25px;
}
.sec{
    border: 1px solid yellow  ;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
    /* margin-top: 10px; */
    
}
.box1{
    text-align: center;
    border: 1px solid yellow;
    width: 100px;
    height: 100px;
    color: white;
    position: relative;
    /* padding-bottom: 45px;
    padding-top: 15px; */
    padding: 10px 50px 50px 50px;
    border-radius: 25px;
    margin-right: 50px;
    margin-left: 250px;
    line-height: 75px;
}

.first{
    width: 50px;
    height: 50px;
}