body{
    background-image: url(fi/custom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background: size 800px;
}
.headline{
    word-spacing: 5px;
    color: white;
    font-size: 50px;
}
.main{
    text-align: center;
    border:solid yellow 0px;
    margin-top: 150px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    padding-bottom: 15px;
}
.para{
    color: yellow;
    line-height: 25px;
}
.href{
    color: rgb(5, 5, 5);
    border: solid 5px rgb(250, 252, 252);
    border-radius: 45px;
    padding: 10px;
    background-color: white;
    text-decoration: none;
}
.href1{
    color:white;
    border: solid 5px rgb(250, 252, 252);
    border-radius: 45px;
    padding: 10px;
    background-color:transparent;
    text-decoration: none;
    margin-left: 25px;
}
/* .just{
    color: black;
} */
.yes{
    
    color: rgb(5, 5, 5);
    text-align: center;
    
}
.box1{
    float: left;
    border: 1px solid brown;
    border-radius: 25px;
    margin: 10px 50px 25px 370px;
    position: relative;
    text-align: center;
    padding-top: 5px;
    width:168px;
    height:139px;
    
    background-color: white;

}
.box2{
    float: left;
    border: 1px solid brown;
    border-radius: 25px;
    position: relative;
    margin: 10px 50px 25px 70px;
    text-align: center;
    background-color: white;
    width:168px;
    height:139px;
}
.box3{
    float: left;
    border: 1px solid brown;
    border-radius: 25px;
    position: relative;
    margin: 10px 50px 25px 70px;
    text-align: center; 
    background-color: white;
    width:168px;
    height:139px;
    padding-bottom: 4px;
}
.box4{
    float: left;
    border: 1px solid brown;
    border-radius: 25px;
    position: relative;
    margin: 10px 50px 25px 70px;
    text-align: center;
    background-color: white;
    width:168px;
    height:139px;
}
.first{
    height: 99px;
    width: 99px;
    
}
.second{
    height:102px;
    width: 131px;
}
.hush{
    font-weight: 600;
    line-height: 3px;
}
.First{
    height: 99px;
    width: 99px;
    padding-top: 2px;
}