body{
    background-color: rgb(17, 240, 17);
}
.Con{
    text-align: center;
    background-color: white;
    border: 3px solid rgb(201, 255, 6);
    border-radius: 15%;
    padding-top: 1px;
    padding-bottom: 20px;
    margin-left: 450px;
    margin-right:450px;
    margin-top: 125px;
}
.sum{
    color: white;
    background-color: green;
    text-transform: uppercase;
    width: 250px;
    border-radius: 19px;
    letter-spacing: 3px;
    font-style:oblique;
}
.ko{
    word-spacing: 5px;
}
